---
import {PortableText} from "astro-portabletext";
import NetlifyImage from "../NetlifyImage.astro";

const {node} = Astro.props;
---

<section
  id={node.id || undefined}
  class="biglist my-8 py-8 relative z-[1] max-w-7xl mx-auto px-0 md:px-[var(--space-m)] lg:px-[var(--space-l)] xl:px-[var(--space-xl)]">
  <div
    class={`${node.order ? "lg:order-last" : ""} lg:sticky top-8 texte mb-32 flex justify-center items-start flex-col`}>
    <PortableText value={node.title} />
  </div>

  <ul class="grid grid-cols-12 gap-y-12 lg:gap-12">
    {
      node.items &&
        node.items.map((item) => (
          <li class="col-span-12">
            <div
              class={`flex gap-4 items-center justify-center ${item.img ? node.size : ""}`}>
              {item.img && (
                <>
                  <figure class="shrink-0 inline-flex items-center justify-center w-full max-w-80 mb-4">
                    <NetlifyImage src={item.img.src} alt="logo" class="p-8" />
                  </figure>
                  <p class="sr-only">{item.itemtitle}</p>
                </>
              )}
            </div>

            {item.itemtext && (
              <div class="gap-4 textcontent">
                <PortableText value={item.itemtext} />
              </div>
            )}
          </li>
        ))
    }
  </ul>
</section>

<style>
  .biglist {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-12 items-start;
  }

  .biglist .textcontent :global(h1),
  .biglist .textcontent :global(h2),
  .biglist .textcontent :global(h3),
  .biglist .textcontent :global(h4),
  .biglist .textcontent :global(h5),
  .biglist .textcontent :global(h6) {
    text-align: center;
  }

  .biglist .large figure {
    @apply max-w-80;
  }

  .biglist .medium figure {
    @apply max-w-64;
  }

  .biglist .small figure {
    @apply max-w-48;
  }
</style>
