---
import {PortableText} from "astro-portabletext";

const {node} = Astro.props;
---

<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl relative">
    <div>
      <PortableText value={node.title} />
    </div>
    <div class="mt-12">
      {
        node.faq.map((item) => (
          <details class="group cursor-pointer">
            <summary class="flex items-center justify-between w-full pt-4 text-left select-none hover:text-accent-500 focus:text-accent-500 gap-4">
              <span class="font-bold">{item.question}</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="flex-none icon icon-tabler icons-tabler-outline icon-tabler-plus size-4 duration-300 ease-out transform group-open:-rotate-45">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 5l0 14" />
                <path d="M5 12l14 0" />
              </svg>
            </summary>
            <div class="py-4 pt-2">
              <p class="">{item.answer}</p>
            </div>
          </details>
        ))
      }
    </div>
  </div>
</section>
