---
import NetlifyImage from "../NetlifyImage.astro";
import HN from "../HN.astro";
import {PortableText} from "astro-portabletext";
import Button from "../Button.astro";

const year = new Date().getFullYear() - 1987;

let {node} = Astro.props;
---

<section id={node.id || undefined} class="hero remove-margin">
  {
    node.img && (
      <NetlifyImage
        src={node.img.src}
        alt={node.img.alt}
        class={`hero-img sceneVertical ${node.img.duotone || undefined}`}
      />
    )
  }
  <div class="texte max-w-7xl mx-auto">
    {
      node.heading && (
        <HN class="h1" Level={node.heading.level}>
          {node.heading.content}
        </HN>
      )
    }
    {
      node.subheading && (
        <div class="h4" data-year={year}>
          <PortableText
            value={node.subheading}
            components={{
              type: {
                button: Button,
              },
            }}
          />
        </div>
      )
    }
  </div>
</section>

<style>
  .hero {
    height: 100vh;
    position: relative;
  }
  :global(.hero-img) {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .texte {
    position: absolute;
    top: 25%;
    padding: var(--space-l);
    color: var(--color-bg);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .texte :global(.h1) {
    border-color: var(--color-bg);
  }
</style>

<script>
  let heroContent = document.querySelectorAll(".hero .texte .h4");

  if (heroContent.length > 0) {
    heroContent.forEach((node) => {
      node.innerHTML = node.innerHTML.replaceAll(
        "%year%",
        heroContent[0].dataset.year
      );
    });
  }
</script>
