---
import HeroClip from "./hero_clipped.astro";
import HeroSplit from "./hero_split.astro";
import HeroFull from "./hero_full.astro";
import HeroDuo from "./hero_duo.astro";

const year = new Date().getFullYear() - 1987;

let {node} = Astro.props;

let components = {HeroClip, HeroSplit, HeroFull, HeroDuo};
const Component = components[node.layout] || HeroFull;

console.dir(node, {depth: null});
---

<section id={node.id || undefined} class="hero mb-16 remove-margin">
  <!-- <HeroClipped node={node} /> -->
  <!-- <HeroSplit node={node} /> -->
  <!-- <HeroFull node={node} /> -->
  <!-- <HeroDuo node={node} /> -->
  <Component node={node} />
</section>

<script>
  let heroContent = document.querySelectorAll(".hero .texte .h4");

  if (heroContent.length > 0) {
    heroContent.forEach((node) => {
      node.innerHTML = node.innerHTML.replaceAll(
        "%year%",
        heroContent[0].dataset.year
      );
    });
  }
</script>
