---
import NetlifyImage from "../NetlifyImage.astro";
import {PortableText} from "astro-portabletext";
import Button from "../Button.astro";
import Link from "../Link.astro";

const year = new Date().getFullYear() - 1987;

let {node} = Astro.props;
---

<div class="clipped max-w-7xl mx-auto flex flex-col lg:flex-row gap-6">
  <div class="texte w-full lg:w-1/2">
    {
      node.texte && (
        <div class="h4" data-year={year}>
          <PortableText
            value={node.texte}
            components={{
              mark: {
                link: Link,
                internalLink: Link,
              },
              type: {
                button: Button,
              },
            }}
          />
        </div>
      )
    }
  </div>
  {
    node.img && (
      <div class="relative w-full max-w-xl mx-auto lg:w-1/2 flex justify-center items-center overflow-hidden">
        <img
          src="/images/hero_clippath.svg"
          class="absolute z-[2] max-w-none"
        />
        <NetlifyImage
          src={node.img.src}
          alt={node.img.alt}
          class={`hero-img sceneVertical`}
        />
      </div>
    )
  }
</div>

<style>
  .h4 :global(a) {
    text-decoration: underline;
    cursor: pointer;
    white-space: break-spaces;
  }
  :global(section):has(.clipped) {
    position: relative;
    @apply bg-[var(--color-accent1)] text-[var(--color-bg)];
  }

  :global(.hero-img) {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    aspect-ratio: 170 / 236;
  }

  .texte {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @apply pl-4 lg:pl-[var(--space-m)];
  }
  .texte :global(.h1) {
    border-color: var(--color-bg);
  }
</style>
