---
import NetlifyImage from "../NetlifyImage.astro";
import HN from "../HN.astro";
import {PortableText} from "astro-portabletext";
import Button from "../Button.astro";
import Link from "../Link.astro";

const year = new Date().getFullYear() - 1987;

let {node} = Astro.props;
---

<section id={node.id || undefined} class="hero remove-margin">
  <div class="img-wrap h-full">
    {
      node.img && (
        <NetlifyImage
          src={node.img.src}
          alt={node.img.alt}
          class={`hero-img sceneVertical max-h-screen ${node.duotone || ""}`}
        />
      )
    }
  </div>

  <div
    class={`texte ${node.duotone == "duoAccent1" ? "vert" : "bordeau"} z-10`}>
    {
      node.texte && (
        <div class="h4" data-year={year}>
          <PortableText
            value={node.texte}
            components={{
              mark: {
                link: Link,
                internalLink: Link,
              },
              type: {
                button: Button,
              },
            }}
          />
        </div>
      )
    }
  </div>
</section>

<style>
  .h4 {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    @apply justify-center lg:justify-start;
    justify-content: center;
  }

  .h4 :global(a.button) {
    text-decoration: underline;
    cursor: pointer;
    white-space: break-spaces;
    display: inline-block;
    width: fit-content;
    @apply min-w-[50%] lg:min-w-0 lg:max-w-[40%];
  }
  .h4 :global(p) {
    font-weight: 700;
    font-size: var(--size-s);
    text-align: left;
    text-wrap: pretty;
  }
  .hero {
    height: 100vh;
    position: relative;
  }
  :global(.hero-img) {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  }
  .texte {
    position: absolute;
    /* padding: var(--space-l); */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @apply w-[90%] top-4 p-4 left-1/2 -translate-x-1/2 lg:translate-x-0 lg:max-w-[70%] lg:top-1/4 lg:left-[12.5%];
  }
  .texte.vert {
    color: var(--color-bg);
  }
</style>
