---
import {PortableText} from "astro-portabletext";
import NetlifyImage from "../NetlifyImage.astro";
import Link from "../Link.astro";
import Button from "../Button.astro";

const {node} = Astro.props;
---

<section class="customer-logos relative z-[1] mb-32 py-16">
  <div
    class="max-w-7xl mx-auto px-0 md:px-[var(--space-m)] lg:px-[var(--space-l)] xl:px-[var(--space-xl)] mb-12 scroll-fx@md js-scroll-fx"
    data-scroll-fx-1="opacity, 0, 1, 5%, 25%"
    data-scroll-fx-2="translateY, 50px, -50px, 0%, 100%">
    <PortableText
      value={node.title}
      components={{
        mark: {
          link: Link,
          internalLink: Link,
        },
        type: {
          button: Button,
        },
      }}
    />
  </div>

  <ul class="flex flex-wrap justify-center gap-12">
    {
      node.logos.map((logo) => (
        <li>
          <a href={logo.link}>
            <NetlifyImage
              src={logo.img.src}
              alt={logo.img.alt}
              class="max-w-64"
            />
          </a>
        </li>
      ))
    }
  </ul>
</section>
