---
import NetlifyImage from "../NetlifyImage.astro"
import { PortableText } from "astro-portabletext"

const { node } = Astro.props
const nbSlides = node.slides.length
---

<section class="sticky-section remove-margin" id="scrollTelling">
  <div class="slider">
    <div class="slides">
      {
        node.slides.map((slide, index) => {
          const aspectRatio =
            slide.img.width && slide.img.height
              ? slide.img.width / slide.img.height
              : 16 / 9
          return (
            <div
              class="slide"
              data-index={index}
              style={`--aspect-ratio: ${aspectRatio}`}>
              <div class="image">
                <NetlifyImage
                  src={slide.img.src}
                  alt={slide.img.alt}
                  class="bg-img min-w-full min-h-full object-cover"
                  loading="eager"
                  fetchpriority="high"
                />
              </div>
              <div class="content">
                <PortableText value={slide.text} />
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</section>

<script>
  import gsap from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"

  window.addEventListener("load", () => {
    gsap.registerPlugin(ScrollTrigger)

    const stickySection = document.querySelector(".sticky-section")
    const slidesContainer = document.querySelector(".slides")
    const slider = document.querySelector(".slider")
    const slides = document.querySelectorAll(".slide")

    const stickyHeight = window.innerHeight * (slides.length + 1)
    const totalMove = slidesContainer.offsetWidth - slider.offsetWidth
    ScrollTrigger.refresh(true)

    ScrollTrigger.create({
      trigger: stickySection,
      start: "top top",
      end: `+=${stickyHeight}px`,
      scrub: 1,
      pin: true,
      pinSpacing: true,
      invalidateOnRefresh: true,
      markers: true,
      onUpdate: (self) => {
        const progress = self.progress
        const mainMove = progress * totalMove
        gsap.set(slidesContainer, { x: -mainMove })
      }
    })
  })
</script>

<style define:vars={{ nbSlides }}>
  .bg-img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    will-change: transform;
    transform: translateX(0) scale(1.35);
  }

  section {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slides {
    position: relative;
    width: calc(100% * var(--nbSlides));
    height: 100%;
    display: flex;
    will-change: transform;
    transform: translateX(0);
  }

  .slide {
    position: relative;
    flex: 1;
    height: 100%;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .content {
    padding: 2rem;
    background-color: rgba(239, 239, 239, 0.5);
    margin: 2rem;
    backdrop-filter: blur(4px);
    max-width: 75ch;
  }
</style>
