---
import {PortableText} from "astro-portabletext";
import Button from "../Button.astro";
import NetlifyImage from "../NetlifyImage.astro";
import Link from "../Link.astro";

const {node} = Astro.props;

let blockcnt = 0;
if (node.text) {
  node.text.map((section) => {
    if (section._type == "block") {
      blockcnt += 1;
    }
  });
}

let uniq = blockcnt > 1 ? false : true;
---

<section
  id={node.id || undefined}
  class={`${node.img?.src ? "reversible" : ""} mx-[calc(-1*var(--space-s))] py-16 max-w-7xl md:mx-auto px-[var(--space-s)] md:px-[var(--space-m)] lg:px-[var(--space-l)] xl:px-[var(--space-xl)]`}>
  <div
    class={`${node.img?.src ? "withimg" : "withoutimg"} section ${node.bg ? node.bg : "white"}`}>
    {
      node.img?.src && (
        <div
          class="image scroll-fx@md js-scroll-fx"
          data-scroll-fx-1="opacity, 0, 1, 5%, 25%"
          data-scroll-fx-2="translateY, 50px, -50px, 0%, 100%"
          data-scroll-fx-3="translateX, -50px, 50px, 0%, 100%">
          <NetlifyImage alt={node.img.alt} src={node.img.src} />
        </div>
      )
    }
    {
      node.text && (
        <div
          class={`scroll-fx@md js-scroll-fx text ml-0 ${uniq ? "uniq" : ""}`}
          data-scroll-fx-1="opacity, 0, 1, 15%, 25%"
          data-scroll-fx-2="translateY, 50px, -50px, 0%, 100%">
          <PortableText
            value={node.text}
            components={{
              mark: {
                link: Link,
                internalLink: Link,
              },
              type: {
                button: Button,
              },
            }}
          />
        </div>
      )
    }
  </div>
</section>

<style>
  .section :global(a) {
    text-decoration: underline;
    cursor: pointer;
    white-space: break-spaces;
  }

  .section :global(ul, ol) {
    @apply list-inside list-disc max-w-[65ch] ml-4;
  }
  .section .text.uniq > :global(p) {
    font-size: clamp(2.3328rem, 1.7715rem + 2.8067vw, 3.9467rem);
    line-height: 1;
    margin-block-end: var(--space-2xl);
  }

  .withimg {
    @apply flex flex-col md:flex-row gap-6;
  }

  .withoutimg {
    @apply w-fit;
  }

  .withoutimg > div {
    @apply max-w-none;
  }

  /* .withoutimg :global(h1, h2, h3, h4, h5, h6) {
    margin-left: 0 !important;
  } */

  .withimg > * {
    flex-basis: 50%;
  }

  .withimg :global(img) {
    @apply w-full h-[calc(100%+2rem)] md:h-[calc(100%+4rem)] lg:h-[calc(100%+6rem)] xl:h-[calc(100%+8rem)] object-cover -mt-4 md:-mt-8 lg:-mt-12 xl:-mt-16;
  }

  .section.green :global(a.bordeau:hover, a.bordeau:focus) {
    box-shadow: inset 100em 0 0 0 var(--color-accent1-dim);
    color: var(--color-body);
  }

  section:has(.white) {
    @apply bg-[var(--color-bg)] text-[var(--color-body)];
  }

  .section.white {
    @apply relative;
  }

  .section.white::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 15px;
  }

  section:has(.green) {
    @apply bg-[var(--color-accent1)] text-[var(--color-bg)];
  }

  section:has(.red) {
    @apply bg-[var(--color-accent2)] text-[var(--color-bg)];
  }

  section.reversible:nth-child(odd) .withimg {
    @apply md:flex-row-reverse;
  }
</style>
