---
import {PortableText} from "astro-portabletext";
import NetlifyImage from "../NetlifyImage.astro";
import Button from "../Button.astro";

const {node} = Astro.props;
---

<section class="feature-v12 py-12 relative z-[1] text-[var(--color-bg)]">
  <div
    class="w-full md:w-[calc(100%_-_3rem)] mx-auto max-w-lg lg:max-w-5xl xl:max-w-7xl">
    <div class="grid grid-cols-12 lg:items-center gap-y-4">
      <div
        class="min-w-0 relative z-[2] col-span-12 lg:col-start-auto lg:col-span-5 bg-[var(--color-accent1)] p-8 w-fit textwrap">
        <div class="text-center lg:text-left titre lg:w-max">
          <PortableText
            value={node.content}
            components={{
              type: {
                button: Button,
              },
            }}
          />
        </div>
      </div>
      <div class="min-w-0 relative z-[1] col-span-12 lg:col-span-7">
        <NetlifyImage
          src={node.img.src}
          alt={node.img.alt}
          class="w-full image"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .titre :global(*) {
    font-family: var(--headings);
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-block: 0;
  }
  .titre :global(p) {
    margin-block-start: var(--space-xl);
    font-size: var(--size-s);
  }

  .titre :global(a) {
    margin-block-start: var(--space-xl);
  }
</style>
